

.leaflet-container {
    width: 100%;
    height: 100%;
}

.input-custom {
    background-color: #767676;
    width: 80%;
}

.input-custom:focus {
    outline: none;
    border: none;
}

.input-customa {
    width: 80%;
}

.input-customa:focus {
    outline: none;
    border: none;
}

